@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'MidnightKernboy';
    src: url('../fonts/MidnightKernboy.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

main>article {
    padding-left: 0.6em;
    padding-top: 0.6em;

    font-family: "Open Sans", sans-serif;
    font-size:20px !important;
    line-height:40px !important;
    text-align: center;
}

.main-title-header {
    background-color: #FCD311;
    color: #000000;
}