@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'MidnightKernboy';
    src: url('../fonts/MidnightKernboy.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

main {
    background-color: #898989;
    border-radius: 0 2em 2em 0;

    position: absolute;
    left: 0px;
    /* as good as fixed */
    bottom: -25%;
    width: 60%;
    min-height: 40%;
    /*max-height: 60%;*/
    padding: 0;
}

.reactions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* patch fix! */
    background-color: #898989;
    border-radius: 0 0 2em 0;

    padding: 1em 0;
}

.quick-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quick-buttons img {
    margin-right: 1.6em;
}

.quick-buttons-warning {
    background-color: #FCD311;
    border-radius: 0.8em;
}

.questions-button, .comments-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.questions-button p, .comments-button p {
    /* unreadable */
    /*color: #008E82;*/
}

.right-aside {
    background-color: #898989;
    border-radius: 2em 0 0 2em;

    position: absolute;
    right: 0px;
    /* as good as fixed */
    top: 40%;
    max-width: 25%;
    min-height: 40%;
    padding: 0.6em 0 2em 0;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
}

.chat-item {
    padding-left: 0.6em;
    /* margin: 0.2em 0 !important;*/
    background-color: #00AD82;
}

.user-name {
    font-family: "Open Sans", sans-serif;
    font-size:24px !important;
    line-height:32px !important;
    margin: 0.4em 0 !important;
}

.chat-message {
    font-family: "Open Sans", sans-serif;
    font-size:20px !important;
    line-height:24px !important;
}

.input-area textarea {
    font-family: "Open Sans", sans-serif;
    font-size:20px !important;
    line-height:24px !important;
    resize: none;

    margin: 0.4em;
    width: 90%;
}

button.chat {
    background-color: #11B0E6;

    font-family: "Montserrat" !important;
    font-size:24px !important;
    line-height:24px !important;
    text-align: center;
    color: #FFFFFF;

    border: 0px;

    margin: 0.6em;
    padding: 0.6em;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warning-message {
    color: #FCD311;
}